<a href="https://colab.research.google.com/github/thanhlamnguyen/lam/blob/main/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [10]:
import pandas as pd

mynumber = [1, 7, 2, 5, 9, 10, 20, 30, 69, 8]
a = pd.Series(mynumber)
print(a)

0     1
1     7
2     2
3     5
4     9
5    10
6    20
7    30
8    69
9     8
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [7]:
data = { "Basketball":1, "Baseball":2, "Soccer":3, "Tennis":4, "Volleyball":5}
series = pd.Series(data, index=["Basketball", "Baseball", "Soccer", "Tennis", "Volleyball"])
print(series)

Basketball    1
Baseball      2
Soccer        3
Tennis        4
Volleyball    5
dtype: int64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [21]:
yournumber = pd.Series(mynumber, index=['a12', 'a23', 'a21', 'b22', 'b41', 'b53', 'c11', 'c61', 'c22', 'c43'])
print(yournumber)

a12     1
a23     7
a21     2
b22     5
b41     9
b53    10
c11    20
c61    30
c22    69
c43     8
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [24]:
print(series[4])

5

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [25]:
print(yournumber['c61'])

30

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [33]:
print(yournumber[[name.startswith('c') and name.endswith('1') for name in yournumber.index ]])

c11    20
c61    30
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [34]:
a.index.name = "STT"
a.name = "Gia_tri"
print(a)

STT
0     1
1     7
2     2
3     5
4     9
5    10
6    20
7    30
8    69
9     8
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [35]:
import numpy as np
np.log(a)

STT
0    0.000000
1    1.945910
2    0.693147
3    1.609438
4    2.197225
5    2.302585
6    2.995732
7    3.401197
8    4.234107
9    2.079442
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [37]:
print(a.where(a > 15))

STT
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6    20.0
7    30.0
8    69.0
9     NaN
Name: Gia_tri, dtype: float64