<a href="https://colab.research.google.com/github/thanhlamnguyen/lam/blob/main/bai_giang_lambda_apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import pandas as pd

SỬ DỤNG HÀM DẠNG LAMBDA TRONG PYTHON & PANDAS

Thay vì sử dụng các vòng lặp (for, while), Python cung cấp các hàm dạng Lambda để thực hiện các tác vụ tính toán lặp (đặc biệt trên các data frame của Pandas). Lợi ích của Lambda là: (i) mã lệnh chương trình ngắn gọn hơn so với vòng lặp truyền thống; (ii) giúp đẩy nhanh các tác vụ tính toán của Machine Learning. Tuy nhiên, cú pháp của Lambda lại gây khó hiểu cho người mới sử dụng.

1. Cú pháp Lambda

                                        lambda <tên biến>: <thân hàm>

Ví dụ: Xây dựng hàm lambda tính căn bậc hai của biến x bất kì
                                        lambda x: math.sqrt(math.abs(x))

2. Thực hành xây dựng hàm lamda

Xây dựng hàm lambda cho biến x với công thức là tính logarith cơ số 10 của x.

In [39]:


loga = lambda x: np.log10(x)
loga(10)

1.0

3. Lambda và hàm apply

Hàm apply() được sử dụng rất nhiều trong lập trình Python(Pandas) do nó cho phép gọi thực hiện hàm lambda theo nhiều cách khác nhau khi tính toán trên data frame. Một là, thực hiện hàm lambda theo chiều dọc (cột). Hai là, gọi thực hiện hàm lamda theo chiều ngang (hàng).

Ví dụ: giả sử quá trình ghi nhận dữ liệu của cột Tissue bị thiếu sót mất 15 đơn vị. Do vậy chúng ta cần cộng thêm 15 cho tất cả các giá trị trên cột Tissue. Cách thực hiện bằng hàm apply và lambda như sau.

In [40]:
import pandas as pd

df = pd.read_csv('micro.csv')
df.head()

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        3    1174    703
3  Firmicutes        4     408   3946
4  Firmicutes        5     831   8605

In [41]:
#axis = 1  áp dụng lambda với từng hàng của cột hiện xét
df['Tissue'] = df.apply(lambda x: x['Tissue'] + 15 , axis =1) 
df.head()

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     647    305
1  Firmicutes        2     151   4182
2  Firmicutes        3    1189    703
3  Firmicutes        4     423   3946
4  Firmicutes        5     846   8605

Hãy xây dựng hàm lambda tính logarith cơ số 10 và áp dụng cho cột Stool

In [42]:
df['Stool'].apply(lambda x : np.log10(x))
df.head()

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     647    305
1  Firmicutes        2     151   4182
2  Firmicutes        3    1189    703
3  Firmicutes        4     423   3946
4  Firmicutes        5     846   8605

Khi axis = 0 nghĩa là áp dụng hàm apply cho từng cột trên hàng dữ liệu hiện xét

In [43]:
new_df = df[['Tissue','Stool']]
new_df.apply(lambda x: x + 100, axis = 0) #Hàm này trả về 1 dataframe mới chứ không cập nhật vào new_df

    Tissue  Stool
0      747    405
1      251   4282
2     1289    803
3      523   4046
4      946   8705
..     ...    ...
70     318    106
71     507    106
72     143    125
73     127    122
74     420    132

[75 rows x 2 columns]

In [ ]:
new_df.head()

   Tissue  Stool
0     662    305
1     166   4182
2    1204    703
3     438   3946
4     861   8605

In [ ]:
#Do vậy cần dùng 1 df mới để cất giữ kết quả apply
df2 = new_df.apply(lambda x: x + 100, axis = 0)
df2.head()

   Tissue  Stool
0     762    405
1     266   4282
2    1304    803
3     538   4046
4     961   8705

In [ ]:
import numpy as np
df2.apply(lambda x: np.log10(x), axis = 0)

      Tissue     Stool
0   2.881955  2.607455
1   2.424882  3.631647
2   3.115278  2.904716
3   2.730782  3.607026
4   2.982723  3.939769
5   2.915400  2.176091
6   2.928396  2.912222
7   2.481443  2.123852
8   2.553883  2.255273
9   2.465383  3.517987
10  2.700704  2.120574
11  3.641970  3.649432
12  2.374748  3.247237
13  2.354108  2.509203
14  2.613842  3.393926
15  3.247482  3.600537
16  3.414806  3.283527
17  2.986324  2.881385
18  3.657438  2.071882
19  4.085433  2.262451
20  3.387390  2.049218
21  3.502837  2.810904
22  2.720159  3.356790
23  3.444201  2.938019
24  3.122216  2.245513
25  3.844291  2.951823
26  2.787460  2.884229
27  3.488551  3.612148
28  3.222976  2.961895
29  3.157457  2.184691
..       ...       ...
45  2.389166  2.681241
46  2.294466  2.000000
47  2.113943  2.000000
48  2.332438  2.021189
49  2.436163  2.029384
50  2.907411  2.008600
51  3.695394  2.489958
52  2.309630  2.875640
53  2.475671  2.549003
54  2.372912  2.041393
55  2.307496  2.682145
56  2.204120  2.661813
57  2.257679  2.178977
58  3.415474  3.382737
59  2.365488  2.123852
60  2.387390  2.576341
61  2.511883  2.071882
62  2.235528  2.008600
63  2.649335  2.155336
64  2.521138  2.146128
65  2.390935  2.000000
66  2.817565  2.049218
67  2.687529  2.045323
68  2.372912  2.045323
69  2.294466  2.056905
70  2.522444  2.025306
71  2.717671  2.025306
72  2.198657  2.096910
73  2.152288  2.086360
74  2.638489  2.120574

[75 rows x 2 columns]

In [ ]:
df2.apply(lambda x: np.log10(x), axis = 1)

      Tissue     Stool
0   2.881955  2.607455
1   2.424882  3.631647
2   3.115278  2.904716
3   2.730782  3.607026
4   2.982723  3.939769
5   2.915400  2.176091
6   2.928396  2.912222
7   2.481443  2.123852
8   2.553883  2.255273
9   2.465383  3.517987
10  2.700704  2.120574
11  3.641970  3.649432
12  2.374748  3.247237
13  2.354108  2.509203
14  2.613842  3.393926
15  3.247482  3.600537
16  3.414806  3.283527
17  2.986324  2.881385
18  3.657438  2.071882
19  4.085433  2.262451
20  3.387390  2.049218
21  3.502837  2.810904
22  2.720159  3.356790
23  3.444201  2.938019
24  3.122216  2.245513
25  3.844291  2.951823
26  2.787460  2.884229
27  3.488551  3.612148
28  3.222976  2.961895
29  3.157457  2.184691
..       ...       ...
45  2.389166  2.681241
46  2.294466  2.000000
47  2.113943  2.000000
48  2.332438  2.021189
49  2.436163  2.029384
50  2.907411  2.008600
51  3.695394  2.489958
52  2.309630  2.875640
53  2.475671  2.549003
54  2.372912  2.041393
55  2.307496  2.682145
56  2.204120  2.661813
57  2.257679  2.178977
58  3.415474  3.382737
59  2.365488  2.123852
60  2.387390  2.576341
61  2.511883  2.071882
62  2.235528  2.008600
63  2.649335  2.155336
64  2.521138  2.146128
65  2.390935  2.000000
66  2.817565  2.049218
67  2.687529  2.045323
68  2.372912  2.045323
69  2.294466  2.056905
70  2.522444  2.025306
71  2.717671  2.025306
72  2.198657  2.096910
73  2.152288  2.086360
74  2.638489  2.120574

[75 rows x 2 columns]

In [ ]:
df2.apply(lambda x: np.sum, axis = 0)

Tissue    <function sum at 0x000001FB87D9D510>
Stool     <function sum at 0x000001FB87D9D510>
dtype: object

In [ ]:
df2.apply(np.sum, axis = 0)

Tissue    82875
Stool     61784
dtype: int64

In [ ]:
df2.apply(np.sum, axis = 1)

0      1167
1      4548
2      2107
3      4584
4      9666
5       973
6      1665
7       436
8       538
9      3588
10      634
11     8846
12     2004
13      549
14     2888
15     5754
16     4520
17     1730
18     4662
19    12357
20     2552
21     3830
22     2799
23     3648
24     1501
25     7882
26     1379
27     7174
28     2587
29     1590
      ...
45      725
46      297
47      230
48      320
49      380
50      910
51     5268
52      955
53      653
54      346
55      684
56      619
57      332
58     5017
59      365
60      621
61      443
62      274
63      589
64      472
65      346
66      769
67      598
68      347
69      311
70      439
71      628
72      283
73      264
74      567
Length: 75, dtype: int64